.book-cover {
  height: 15em;
}

.book-cover-small {
  height: 7em;
  margin-right: 1em;
  margin-left: 1em;
}

.book-image {
  height: 80px;
  margin-right: 2em;
}

.background-div {
  padding: 20px;
}

.border-thick {
  border-width: 3px;
}
